.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 600px;
    background-color: #fff;
    border-radius: 10px;
}

.name {
    text-align: center;
}

.tag {
    text-align: center;
}

.location {
    text-align: center;
}

.stats {
    display: flex;
    gap: 30px;
}