.friend_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 20px;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.online {
    background-color: green;
}

.offline {
    background-color: red;
}