.statistics {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 600px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 20px;
}

.statList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style-type: none
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50px;
    height: 50px;
    border: 1px solid;
}
